<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xds="http://www.springframework.org/schema/security/spring-security-3.2.3.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
        ">
    
        <import resource="appContext.xml"/>
    
        <security:http auto-config="true">
            <security:intercept-url pattern="/admin/sugerirlocal.xhtml" access="ROLE_ADMIN,ROLE_USER" />

		<security:intercept-url pattern="/admin/*" access="ROLE_ADMIN" />
                <!--<security:intercept-url pattern="/verLocales.xhtml" access="ROLE_ADMIN,ROLE_USER" />-->
                <security:access-denied-handler error-page="/index.xhtml?message=Acceso Denegado" />
                <security:form-login login-page="/iniciarSesion.xhtml"/> 
	</security:http>
 
	<security:authentication-manager>
	  <security:authentication-provider>   
            <!--<security:password-encoder hash="sha-256" />     -->
            <security:jdbc-user-service 
                data-source-ref="dataSource" 
                users-by-username-query="SELECT nombreusuario,contrasena,activo 
                                         FROM USUARIO 
                                         WHERE nombreusuario = ?"  
                authorities-by-username-query="SELECT nombreusuario,rol 
                                        FROM USUARIO 
                                        WHERE nombreusuario = ?  "/>
	  </security:authentication-provider>
          
	</security:authentication-manager>       
        
</beans>